@import './animations.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: serif;
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-gray-800;
  }
}

@layer components {
  .section-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  
  .heading-primary {
    @apply text-4xl md:text-5xl font-normal tracking-[0.2em];
  }
  
  .heading-secondary {
    @apply text-2xl md:text-3xl tracking-wider;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}